.nav{
background-color: #007ac8;
height: 100%;
width: 200px;
font-family: 'Poppins', sans-serif;
}

.nav-button{
    width: 80%;
    height: 30px;
    margin: 10px;
    margin-left: 10%;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s;
    text-decoration: none;
}

.nav-button:hover{
    background-color: #139aee ;
    transition: all 0.3s;
}